externalDlls/siemens/V21/Schemas/SW.Interface.Snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © Siemens AG 2008-2018. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SnapshotValues" type="SnapshotValues_T"/>
  <xs:complexType name="SnapshotValues_T">
      <xs:sequence>
        <xs:element ref="Value" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>           
  </xs:complexType>
  <xs:element name="Value" type="Value_T"/>
  <xs:complexType name="Value_T">
		<xs:simpleContent>
			<xs:extension base="xs:string">	
				<xs:attribute name="Path" type="xs:string" use="required"/>
				<xs:attribute name="Type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
  </xs:complexType>
</xs:schema>